*~
cache/friends_using_course_list/*0.php
cache/friends_using_course_list/*1.php
cache/friends_using_course_list/*2.php
cache/friends_using_course_list/*3.php
cache/friends_using_course_list/*4.php
cache/friends_using_course_list/*5.php
cache/friends_using_course_list/*6.php
cache/friends_using_course_list/*7.php
cache/friends_using_course_list/*8.php
cache/friends_using_course_list/*9.php
cache/courses/*.txt
