body {
	font-family: "Microsoft JhengHei","微軟正黑體";
	width: 740px;
	padding: 0px;
	margin: 0px;
	}
	a {
		text-decoration: none;
	}

	#titleTd {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: #F5F5F5;
		border-color: #E2A9F3 #ECCEF5 #ECCEF5 #E2A9F3;
		border-right: 1px solid #E2A9F3;
		border-bottom: 1px solid #ECCEF5;
		border-width: 1px;
		border-style: solid;
		margin-bottom: 10px;
	}
	#title {
		font-size: 32px;
		font-weight: bold;
	}
	th {
		text-align: left;
	}
	#menu ul {
		list-style: none outside none;
		padding: 0pt;
		width: 732px;
	}
	#menu li {
		display: inline;
		padding: 2px 10px 1px 2px;
	}
	#menu a {
		text-decoration: none;
	}

	div.fb-like {
		position: relative;
		left: 60px;
	}

	table.main {
		text-align: center;
		width: 732px;
	}
	table.main table {
		margin-left: auto;
		margin-right: auto;
	}
	#searchBar td{
		padding: 15px 0px 15px 0px;
	}
	#searchField {
		text-align: right;
		width: 450px;
	}
	input.defaultText {

	}
	input.defaultTextActive {
		color: #A1A1A1;
		font-style: italic;
	}
	#coursePagination {
		text-align: right;
	}
	#coursePagination td{
		padding-right: 30px;
		padding-top: 16px;
	}

	#searchResultTable, #addedTable {
		width: 600px;
		text-align: left;
	}
	#searchResultTable th {
		text-align: left;
	}
	.courseNameTd {
		width: 150px;
	}
	.timeClassroomTd {
		width: 150px;
	}
	.professorTd {
		width: 100px;
	}
	.idTd {
		width: 100px;
	}
	.buttonTd {
		width: 100px;
	}

	hr {
		background-color: #D2D2D2;
		border: medium none;
		color: #D2D2D2;
		height: 1px;
		width: 600px;
	}

	img.friend {
		cursor: pointer;
	}

	/* course list table design */
	#listTable p {
		padding: 1px 2px 1px 0px;
		font-size: 14px;
		margin: 0 0 0 2px;
		text-align: left;
	}
	#listTable {
		background: none repeat scroll 0% 0% #F9F5D7;
		border-collapse: collapse;
		border-spacing: 0px;
		border: 0.3em solid #000000;
		width: 680px;
	}
	#listTable span.addedProfessor {
		color: gray;
		margin-left: 4px;
	}

	#listTable th {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: -moz-use-text-color -moz-use-text-color #000000;
		border-style: none none solid;
		border-width: 0px 0px 1px;
		font-weight: normal;
		padding: 0.1em 0.5em;
		text-align: left;
	}

	#listTable td {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: -moz-use-text-color -moz-use-text-color #000000;
		border-style: none none solid;
		border-width: 0px 0px 1px;
		padding: 0.1em 0.5em;
		max-width: 80px;
		vertical-align: top;
	}

	#listTable thead th {
		background-color: #AA0000;
		color: #FFFFFF;
		font-weight: bold;
		text-align: center;
	}

	#listTable th.corner {
		text-align: left;
	}

	#listTable td.odd {
		background: none repeat scroll 0% 0% #E8E4C0;
	}
	/* end of course list table design */
	p.guide {
		color: gray;
		font-size: 14px;
	}
	#declare {
		font-size: 11px;
		text-decoration: none;
	}
	#friendInfo td {
		text-align: left;
		padding-left: 6px;
	}


	.buttons a, .buttons button{
		/*display:block;*/
		/*float:left;*/
		margin:0 7px 0 0;
		background-color:#f5f5f5;
		border:1px solid #dedede;
		border-top:1px solid #eee;
		border-left:1px solid #eee;

		font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
		font-size:12px;
		line-height:130%;
		text-decoration:none;
		font-weight:bold;
		color:#565656;
		cursor:pointer;
		padding:5px 10px 6px 7px; /* Links */
	}
		.buttons button{
		width:auto;
		overflow:visible;
		padding:4px 10px 3px 7px; /* IE6 */
	}
		.buttons button[type]{
		padding:5px 10px 5px 7px; /* Firefox */
		line-height:17px; /* Safari */
	}
*:first-child+html button[type]{
padding:4px 10px 3px 7px; /* IE7 */
	}
		.buttons button img, .buttons a img{
		margin:0 3px -3px 0 !important;
		padding:0;
		border:none;
		width:16px;
		height:16px;
	}

		/* STANDARD */

		.buttons button:hover, .buttons a:hover {
		background-color:#dff4ff;
		border:1px solid #c2e1ef;
		color:#336699;
	}
		.buttons a:active {
		background-color:#6299c5;
		border:1px solid #6299c5;
		color:#fff;
	}

		/* POSITIVE */

		button.positive, .buttons a.positive{
		color:#529214;
	}
		.buttons a.positive:hover, button.positive:hover {
		background-color:#E6EFC2;
		border:1px solid #C6D880;
		color:#529214;
	}
		.buttons a.positive:active {
		background-color:#529214;
		border:1px solid #529214;
		color:#fff;
	}

		/* NEGATIVE */

		.buttons a.negative, button.negative {
		color:#d12f19;
	}
		.buttons a.negative:hover, button.negative:hover {
		background:#fbe3e4;
		border:1px solid #fbc2c4;
		color:#d12f19;
	}
		.buttons a.negative:active {
		background-color:#d12f19;
		border:1px solid #d12f19;
		color:#fff;
	}	

		/* REGULAR */

		button.regular, .buttons a.regular {
		color:#336699;
	}
		.buttons a.regular:hover, button.regular:hover {
		background-color:#dff4ff;
		border:1px solid #c2e1ef;
		color:#336699;
	}
		.buttons a.regular:active {
		background-color:#6299c5;
		border:1px solid #6299c5;
		color:#fff;
	}
